{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {syn,    ".*", {git, "https://github.com/ostinelli/syn",      {tag, "pg"}     }},
    {rest,   ".*", {git, "https://github.com/synrc/rest",         {tag, "2.9"}    }},
    {erlydtl,".*", {git, "https://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
    {nitro,  ".*", {git, "https://github.com/synrc/nitro",        {tag, "master"} }},
    {mad,    ".*", {git, "https://github.com/synrc/mad",          {tag, "1.9"} }},
    {fs,     ".*", {git, "https://github.com/synrc/fs",           {tag, "1.9"}    }},
    {sh,     ".*", {git, "https://github.com/synrc/sh",           {tag, "1.9"}    }},
%   {kjell,  ".*", {git, "git://github.com/karlll/kjell",       {tag, "master"} }},
    {active, ".*", {git, "https://github.com/synrc/active",       {tag, "1.9"}    }},
    {n2o,    ".*", {git, "https://github.com/synrc/n2o",          {tag, "master"} }},
    {kvs,    ".*", {git, "https://github.com/synrc/kvs",          {tag, "master"}    }}
]}.
%{shell_driver,start_kjell}.
{fetch_speed,fast_master}.
{verbose,1}.
