[
 {n2o, [{port,8000},
        {ip, "0.0.0.0"},
        {app,my_web_app},
        {upload,"./apps/my_web_app/priv/static/"},
        {search,"/Users/5HT/depot/synrc/synrc.com/apps/*/doc/web/*.htm"},
        {route,my_routes},
        {mq,n2o_mq},
        {formatter,bert},
        {log_modules,my_config},
        {log_level,my_config},
        {log_backend,n2o_log},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
 {kvs, [{dba,store_mnesia},
        {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]} ]}
].
